{% extends 'base.html.twig' %}

{% block title %}Mean Kinetic Temperature{% endblock %}

{% block body %}

<div class="container-fluid mt-2">

    <div class="d-flex">
        <h1 style="color:brown"><strong>Mean Kinetic Temperature</strong></h1>
        <span style="flex: 1 1 auto"></span>
        <img src="https://static.wixstatic.com/media/4f2538_4eea176932434b77b8ee0ff72a04e175~mv2.png" height="40" width="220"/>
    </div>


    <hr/>

    <div>

        {{ form_start(mkt_form) }}
            <div class="d-flex justify-content-start">
                {{ form_row(mkt_form.dataset) }}

                <div style="margin-top: 32px; margin-left: 20px;">
                    {{ form_row(mkt_form.calculate) }}   
                </div>    
            </div>
        {{ form_end(mkt_form) }}
        {% if result|length > 0 %}
            <div class="alert alert-success">
                <span style="color:red">Mean Kinetic Temperature :  &nbsp;</span>
                <span style="color:blue"> {{ result }}<span>&#176;</span>C</span>
            </div>
        {% endif %}

        {% if error|length > 0 %}
            <div class="alert alert-danger">
                <span style="color:red">Invalid File</span>
            </div>
        {% endif %}

    </div>

    {% if mkt_records|length > 0 %}
        <h2 class="mb-3">Historical Records</h2>
        <div class="table-responsive">
            <table class="table text-center" id="mkt_table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Dataset</th>
                        <th>Activation Energy</th>
                        <th>IP Address</th>
                        <th>Submitted at</th>
                        <th>Mean Kinetic Temperature</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in mkt_records %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a target="_blank" href="{{ asset('datasets/') }}/{{record.getDataset()}}">
                                {{ record.getDataset() }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                                </svg></a>
                            </td>
                            <td>{{ record.getActivationEnergy() }}</td>
                            <td>{{ record.getIpaddress() }}</td>
                            <td>{{ record.getCreatedAt() | date('d-m-Y H:i:s') }}</td>
                            <td style="color:red">{{ record.getResult() }}<span>&#176;</span>C</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

</div>
{% endblock %}