{% extends 'base.html.twig' %}

{% block title %}Hello MktController!{% endblock %}

{% block body %}

<div class="container-fluid mt-2">
    <h1 style="color:red"><strong>{{ error }}</strong></h1>
</div>
{% endblock %}
